* {
  margin: 0;
  padding: 0;
}

.main {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fbfbfb;
}

.box {
  width: 300px;
  height: 300px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: red;
  transition: linear 0.5s;
}

.box:hover {
  /*顺时针 旋转30度*/
  /*transform: rotate(30deg);*/
  /*向右移动60像素*/
  /*transform: translate(60px);*/
  /*放大 参数为倍数 可为小数 负数时 先缩小再复原*/
  /*transform: scale(-1.2);*/
  /*旋转 20度会发生形变*/
  /*transform: skew(20deg);*/
  transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
}

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: none;
  border: 1px solid #dcdfe6;
  text-align: center;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.1s;
  outline: none !important;
}

.btn:hover {
  background: rgba(236, 245, 255, 1);
  color: #409eff;
}

.btn:active {
  background: rgba(236, 245, 255, 1);
  border: 1px solid #3d8de9;
  color: #409eff;
}
.input {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 200px;
}
/*三角形*/
.triangle {
  width: 0;
  height: 0;
  border-width: 40px;
  border-style: solid;
  /*border-color:#FFCCCC #0099CC #996699 #339933;*/
  border-color: #FFF #38d #FFF #FFF;
}
